body {
    background-color: #3f3f3f;
	background-image: url("https://webauth.csh.rit.edu/images/tile.png");
	background-repeat: repeat;
    /*background-color: #9D4799;*/
}

.trouble {
	color: #fff;
}

.logo {
	 -webkit-filter: invert(100%);  
 }

.main-container {
    padding-top: 2%;
    border-top: 5px solid #E50565;
}

.center-text {
    text-align: center;
}

.btn, .form-control {
    transition: background-color .25s;
}

.form-control, .btn, .panel {
    border-width: 0px;
    box-shadow: none;
}

.panel.panel-default {
    background-color: rgba(32,32,32,0.7);
    /*background-color: #f8f8f8;*/
}

.btn.btn-primary {
    background-color: #9D4799;
}

.btn.btn-secondary {
    color: #fff;
    background-color: #E50565;
}

.btn.btn-primary:hover {
    background-color: #8A4186;
}

.form-control {
    background-color: #eee;
}

.form-control:focus {
    box-shadow: none;
    background-color: #fff;
}
